# Ignore miscellenous ipynb-related files and folders
.ipynb_checkpoints
*.ipynb_checkpoints
*.pyc
__pycache__

# Ignore csv files
*.csv
*.tsv
*.xlsx
*.xls

# Ignore environment files
*.env
*.venv
env/
venv/

# Ignore log files
*.log
logs/